<%= simple_form_for @review, url:  productdetails_path, html: { "data-turbo": false, class: "row g-3" } do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this user review from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12 mt-3">

    <label class="form-label">Review</label>
    <%= f.input :book_id, as: :hidden, input_html: { value: @book_id } %>
    <%= f.input :review, input_html: { class: "form-control" }, label: false %>
  </div>
  <div class="col-12">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>