<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<table>
<tr>

<td><div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  
  <td><div class="field-group">
  <div class="field-group">
    <label class="text" for="inputGroupSelect01">Choose your favourite Character & claim the exiting offers!!!!</label>
    <br>
  </div>
  <%= f.select :favch, ['choose','aquaman', 'superman','batman','flash']%>
  </select>
</div></td>



  </tr>
</table>
<div class="field">
    <%= f.label :Phoneno %><br />
    <%= f.text_field :phoneno, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email.com" %>
  </div>

  <div class="field">
    <%= f.label :address %><br/>
    <%= f.text_field :address, autofocus: true %>
  </div></td>



  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
